@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactFooterPDF</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body style="background: #ffd800; padding: 0px; margin: 0px;">
    <div class="text-center">
        <strong>
            Página <span id='page'></span> de
            <span id='topage'></span>
        </strong>

        <script>
            var vars = {};
            var x = window.location.search.substring(1).split('&');
            for (var i = 0; i < x.length; i++) {
                var z = x[i].split('=', 2);
                if (z.length === 2) {
                    vars[z[0]] = decodeURIComponent(z[1]);
                }
            }
            document.getElementById('page').innerHTML = vars.page || 'N/A';
            document.getElementById('topage').innerHTML = vars.topage || 'N/A';
        </script>
    </div>
</body>
</html>
